<div class="panel panel-primary">
	<div class="panel-heading">
		<h1>Sistema de encuestas Ucatec</h1>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Encuesta</th>
						<th>Descripción</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="survey in vm.surveys">
						<td>{{survey.title}}</td>
						<td>{{survey.description}}</td>
						<td>
							<a class="btn btn-primary btn-flat" ui-sref="surveySelect({id: survey.id})">Llenar</a> 
						</td>
						<td>
							<a class="btn btn-primary btn-flat" ui-sref="surveyEdit.info({id: survey.id})">Editar</a>
						</td>
						<td>
							<a class="btn btn-primary btn-flat" ui-sref="surveyResults({id: survey.id})">Ver Resultados</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

