body, .row{
	margin-right: 0px;
	margin-left: 0px;
}

#navbar-dark{
	background-color: #004d40;
}
.content-question{
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 2px solid #c0c0c0;
}

.content-question div{
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

.title-survey-questions{
	margin-bottom: 20px;
	border-bottom: 5px solid #c0c0c0;
	padding-bottom: 15px;
}

.title-survey-questions h3{
	text-align: center;
	padding: 0px;
	margin-top: 0px;
}

.div-actions{
	text-align: center;
}

.label-options{
	font-weight: 600;
  	color: #337ab7;
  	padding: 6px 12px;
  	margin-bottom: 0;
  	font-size: 14px;
}

.label-options:hover {
	cursor: pointer;
}

.content-question-front{
	margin-bottom: 25px;
  	border-bottom: 1px solid #C5C5C5;
  	padding-bottom: 15px;
}

textarea.textarea-border {
	border-top: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	border-left: 1px solid #CDCDCD;
}
.btn-options-temp{
	padding: 5px;
	color: #009688;

}