<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3>{{vm.survey.title}}</h3>
		</div>

		<div class="panel-body">
			<h4>{{vm.survey.description}}</h4>

			<div class="row content-question-front" ng-repeat="question in vm.questions">
				<p>{{question.question}}</p>
				<div ng-if="question.type=='1'" >
					<label class="label-options  text-capitalize btn btn-primary btn-flat" ng-repeat="option in question.options">
		                <input type="radio" ng-value="option.id" ng-model="question.answer" />
		                {{option.option}}
		            </label>
				</div>
				<div ng-if="question.type=='2'">
					<label class="label-options  text-capitalize btn btn-primary btn-flat" ng-repeat="option in question.options">
					  <input type="checkbox" name="question.answer[]" value="{{option.id}}" ng-checked="selection.indexOf(fruitName) >-1"
					    ng-click="toggleSelection(fruitName)"
					  > {{option.option}}
					</label>
				</div>
				<div ng-if="question.type=='3'">
					<textarea name="" id="" class="form-control textarea-border" rows="4"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>

